openapi: 3.0.3
info:
  title: Godspeed Mission API
  version: 0.1.0
  description: >
    REST contract for connecting Microsoft Copilot Studio or Microsoft 365 Copilot
    to the Godspeed governed defense mission orchestrator.
servers:
  - url: https://godspeed.battlecruiser.nl
    description: Public hackathon demo endpoint
  - url: http://127.0.0.1:8088
    description: Local sandbox demo
paths:
  /api/mission:
    post:
      operationId: createGodspeedMission
      summary: Create a governed defense mission
      description: >
        Converts a security scenario into a mission plan with selected specialist
        agents, approval gates, action owners and an evidence package.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MissionRequest"
            examples:
              zeroDay:
                summary: Critical zero-day scenario
                value:
                  title: Critical remote access vulnerability
                  description: A critical zero-day affects an internet-facing remote access service.
                  urgency: Critical
                  boundary: Read-only first. No production changes without approval.
                  approvalOwner: Security incident commander
      responses:
        "200":
          description: Mission package created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MissionResponse"
        "400":
          description: Invalid request
        "500":
          description: Mission engine error
  /api/mission/default:
    get:
      operationId: getDefaultGodspeedMission
      summary: Get the default sandbox mission
      responses:
        "200":
          description: Default mission package
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MissionResponse"
  /api/microsoft/copilot/mission:
    post:
      operationId: createGodspeedCopilotMission
      summary: Create a Copilot-ready governed defense mission
      description: >
        Converts the same mission intake into a Copilot-friendly response shape
        with selectedAgents, approvalGates, actionPlan and defensePackage.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MissionRequest"
      responses:
        "200":
          description: Copilot-ready mission package created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopilotMissionResponse"
  /api/microsoft/agent-framework/event:
    post:
      operationId: createGodspeedAgentFrameworkEvent
      summary: Create a Microsoft Agent Framework workflow seed event
      description: >
        Converts mission intake into a deterministic workflow event for a
        code-first Microsoft Agent Framework implementation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MissionRequest"
      responses:
        "200":
          description: Agent Framework workflow seed event created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentFrameworkEvent"
components:
  schemas:
    MissionRequest:
      type: object
      additionalProperties: false
      required:
        - description
      properties:
        title:
          type: string
          description: Short scenario title.
        description:
          type: string
          description: Natural-language security scenario.
        urgency:
          type: string
          enum:
            - Low
            - Medium
            - High
            - Critical
        boundary:
          type: string
          description: Safety boundary, non-goals and approval constraints.
        approvalOwner:
          type: string
          description: Human owner for approval-gated actions.
    MissionResponse:
      type: object
      properties:
        missionId:
          type: string
        scenarioProfile:
          type: string
        selectedAgents:
          type: array
          items:
            $ref: "#/components/schemas/SpecialistAgent"
        approvalGates:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalGate"
        actionPlan:
          type: array
          items:
            $ref: "#/components/schemas/ActionItem"
        defensePackage:
          type: object
        artifactDir:
          type: string
        copilotToolResponse:
          $ref: "#/components/schemas/CopilotMissionResponse"
        agentFrameworkEvent:
          $ref: "#/components/schemas/AgentFrameworkEvent"
    CopilotMissionResponse:
      type: object
      properties:
        missionId:
          type: string
        generatedAt:
          type: string
        integrationProfile:
          $ref: "#/components/schemas/IntegrationProfile"
        safetyBoundary:
          $ref: "#/components/schemas/SafetyBoundary"
        sourceEndpoints:
          $ref: "#/components/schemas/SourceEndpoints"
        scenarioProfile:
          type: string
        selectedTrack:
          type: string
        demoProfile:
          type: string
        enterprisePath:
          type: string
        selectedAgents:
          type: array
          items:
            $ref: "#/components/schemas/SpecialistAgent"
        approvalGates:
          type: array
          items:
            $ref: "#/components/schemas/CopilotApprovalGate"
        actionPlan:
          type: array
          items:
            $ref: "#/components/schemas/CopilotActionItem"
        defensePackage:
          $ref: "#/components/schemas/DefensePackage"
        localApprovalLadder:
          $ref: "#/components/schemas/LocalApprovalLadder"
        microsoftIqLayer:
          $ref: "#/components/schemas/MicrosoftIqLayer"
        suggestedCopilotReply:
          $ref: "#/components/schemas/SuggestedCopilotReply"
        manualTenantProofSteps:
          type: array
          items:
            type: string
        artifactDir:
          type: string
    IntegrationProfile:
      type: object
      properties:
        mode:
          type: string
        microsoftTarget:
          type: string
        authentication:
          type: string
        productionExecution:
          type: string
    SafetyBoundary:
      type: object
      properties:
        dataProfile:
          type: string
        secrets:
          type: string
        productionAccess:
          type: string
        riskyActions:
          type: string
    SourceEndpoints:
      type: object
      properties:
        copilotTool:
          type: string
        agentFrameworkEvent:
          type: string
        localDemo:
          type: string
    DefensePackage:
      type: object
      properties:
        summary:
          type: string
        facts:
          type: array
          items:
            type: string
        assumptions:
          type: array
          items:
            type: string
        unknowns:
          type: array
          items:
            type: string
        premortem:
          type: array
          items:
            type: string
        nextDecisions:
          type: array
          items:
            type: string
    SuggestedCopilotReply:
      type: object
      properties:
        opening:
          type: string
        requiredSections:
          type: array
          items:
            type: string
        disclaimer:
          type: string
    LocalApprovalLadder:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        profile:
          type: string
        rationale:
          type: string
        defaultState:
          type: string
        owner:
          type: string
        nonGoals:
          type: array
          items:
            type: string
        gates:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalLadderGate"
    ApprovalLadderGate:
      type: object
      properties:
        id:
          type: string
        sequence:
          type: integer
        title:
          type: string
        decisionType:
          type: string
        defaultState:
          type: string
        purpose:
          type: string
        evidenceRequired:
          type: array
          items:
            type: string
        blocksUntilApproved:
          type: array
          items:
            type: string
        blockedCapabilities:
          type: array
          items:
            type: string
    MicrosoftIqLayer:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        type:
          type: string
        integrationStatus:
          type: string
        tenantProofStatus:
          type: string
        targetUse:
          type: string
        microsoftDocs:
          type: array
          items:
            $ref: "#/components/schemas/MicrosoftDocReference"
        knowledgeBaseTarget:
          type: object
        approvalGateReferences:
          type: array
          items:
            type: string
        knowledgeSources:
          type: array
          items:
            $ref: "#/components/schemas/IqKnowledgeSource"
        expectedGroundingBehavior:
          type: array
          items:
            type: string
        manualTenantProofSteps:
          type: array
          items:
            type: string
    MicrosoftDocReference:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
    IqKnowledgeSource:
      type: object
      properties:
        sourceId:
          type: string
        title:
          type: string
        path:
          type: string
        format:
          type: string
        sensitivity:
          type: string
        purpose:
          type: string
    SpecialistAgent:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        action:
          type: string
        finding:
          type: string
        wave:
          type: integer
        status:
          type: string
    ApprovalGate:
      type: object
      properties:
        action:
          type: string
        reason:
          type: string
        defaultState:
          type: string
    CopilotApprovalGate:
      type: object
      properties:
        action:
          type: string
        reason:
          type: string
        state:
          type: string
    ActionItem:
      type: object
      properties:
        task:
          type: string
        ownerAgent:
          type: string
        supportAgents:
          type: array
          items:
            type: string
        reason:
          type: string
    CopilotActionItem:
      type: object
      properties:
        horizon:
          type: string
        task:
          type: string
        ownerAgent:
          type: string
        supportAgents:
          type: array
          items:
            type: string
        reason:
          type: string
        approval:
          type: string
        evidence:
          type: string
    AgentFrameworkEvent:
      type: object
      properties:
        type:
          type: string
        missionId:
          type: string
        profile:
          type: string
        workflow:
          type: object
